@charset "utf-8";

/* CSS Document */
@media (max-width:500px){
	.tabla-turnos th, .tabla-turnos td {
        font-size: 4vw;
        padding: 2vw;
	}
}	
@media (max-width:630px){
	.contenedor-tablaTurnos{
		flex-direction: column;
	}
	.tabla-turnos th, .tabla-turnos td {
        font-size: 5vw;
        padding: 2vw;
	}
}	
@media (max-width:750px){
	.contenido{
		flex-direction: column-reverse;
	}
	.contenido-derecha{
		margin-left: 0px;
	}
	.tabla-turnos th, .tabla-turnos td {
        font-size: 4.5vw;
        padding: 2vw;
	}
}	
@media (min-width:960px){
	.tabla-turnos th, .tabla-turnos td {
        font-size: 4.5vw;
        padding: 2vw;
	}	
}
