body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%; /* Ocupa el 60% del ancho de la pantalla */
    max-width: 600px; /* Máximo ancho de 600px */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px; /* Agrega un pequeño espacio interno para evitar que el formulario se vea pegado */
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, button {
    width: 100%; /* Asegura que los campos ocupen el 100% del contenedor */
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Esto asegurará que el padding se incluya en el ancho total */
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 15px;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding: 10px;
}

.error ul {
    list-style-type: none;
    padding-left: 0;
}

.required {
    color: red;
    font-weight: bold;
}

.autorizacion {
    margin-top: 15px;
    background-color: #eef;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cce;
    font-size: 14px;
    color: #333;
}

.autorizacion input {
    margin-right: 10px;
}

/* Estilos para el mensaje de error */
.error-message {
    background-color: #ffe6e6;
    border-left: 6px solid #ff4d4d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    color: #cc0000;
    font-family: Arial, sans-serif;
    max-width: 600px;
    width: 100%;  /* Que ocupe todo el ancho disponible */
    font-size: 1.2em;  /* Aumentar el tamaño de fuente */
}

/* Estilo del título */
.error-message h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff3333;
}

/* Estilo del párrafo */
.error-message p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Botón de solicitud */
.button-error {
    background-color: #ff3333;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

/* Efecto hover en el botón */
.button-error:hover {
    background-color: #cc0000;
    text-decoration: underline;
}